<div class="container-fluid">
  <h1>Hero Form</h1>
  <form>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="surname">Apellidos</label>
      <input type="text" class="form-control" id="alterEgo">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>